/* [Start] css reset */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* [End] css reset */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  background-color: #212121 !important;
}

.page-header-light-blue {
  background-color: #212121 !important;
  background-image: url(./page-header-white-evms-lines.svg) !important;
}

body {
  font-family: myriad-pro, myriad, sans-serif;
  color: #fafafa;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.evms-blm {
  background-color: #212121;
}

.evms-blm__title {
  font-size: 70px;
  color: #fafafa;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.evms-blm__subtitle {
  font-size: 24px;
  color: #fafafa;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

@media(min-width: 900px) {
  .evms-blm__subtitle {
    font-size: 40px;
  }
}

.evms-blm__intro {
  max-width: 1440px;
  height: auto;
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

@media(min-width: 900px) {
  .evms-blm__intro {
    width: 70%;
    margin: 100px auto 50px;
  }
}

.evms-blm__cta {
  background-color: #fafafa !important;
  color: #212121 !important;
  border-radius: 5px !important;
  /* width: 250px !important; */
  /* height: 50px !important; */
  font-size: 20px !important;
  transition: all 1s;
  font-family: myriad-pro, myriad, sans-serif !important;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
}

.evms-blm__cta:hover {
  text-decoration: none !important;
}
.evms-blm__message-form {
  max-width: 1440px;
  height: auto;
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.evms-blm__headline {
  padding-top: 50px;
  color: #fafafa !important;
}

.evms-blm__description {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

@media(min-width: 900px) {
  .evms-blm__description {
    width: 50%;
  }
}

.evms-blm__solidarity-wall {
  height: auto;
  max-width: 1440px;
  margin: 60px auto;
  overflow: scroll;
}

/* /* button rollover animation */

.juicer-button:hover, #fsSubmitButton3910490:hover, .evms-blm__cta:hover, #fsNextButton3910490:hover, #fsPreviousButton3910490:hover {
  background-color: #212121 !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
}


/* juicer feed styles */
.juicer-feed  {
  background-color: #212121;
}

@media(max-width: 899px) {
  .juicer-feed .j-stacker {
    width: 90%;
    margin: 0 auto;
  }
}

.j-display-filters {
  display: none !important;
}
.j-stacker-wrapper {
  /* border: solid 1px gray !important; */
}

.j-twitter-quote-text {

}

.feed-item {
  border: solid 2px #fafafa;
  background-color: #212121 !important;
  border-width: 1px !important; 
}

.feed-item h3, .feed-item p, .feed-item a, .j-twitter-quote-text {
  color: #fafafa !important;
}

.j-social-icon {
  background-color: #212121 !important;
  border-bottom: none !important;
}

.juicer-button, j-paginate {
  background-color: #fafafa !important;
  color: #212121 !important;
  border: solid 1px #fafafa !important;
  border-radius: 5px;
  transition: 1s all !important;
  font-family: myriad-pro, myriad, sans-serif !important;
  text-transform: uppercase !important;
}

.j-poster {
  display: none;
}

.j-title {
  /* margin-top: 350px !important; */
  position: relative !important;
  top: -50px !important;
}

.j-message img {
  max-height: 300px;
  object-fit: cover;
  position: relative;
  top: -98px;
}

.j-message p:nth-child(1) {
  position: relative !important;
  top: 370px;
}

.j-message p:nth-child(2) {
  display: none;
}

.j-message p:nth-child(3) {
  position: relative;
  top: 325px !important;
}

.j-message p:nth-child(4) {
  position: relative;
  top: 340px !important;
}

/* form stack styles */
.fsBody, .fsForm {
  background-color: #212121 !important;
  /* color: #fafafa !important; */
}

.fsLabel {
  display: none !important;
}

.fsSupporting {
  display: none !important;
}

.fsLabel, .fsRequiredMarker, .fsCounter {
  color: #fafafa !important;
}

.fsField {
  background-color: #212121 !important;
  color: #fafafa !important;
}

.fsFileUploadName {
  color: white !important;
  padding-left: 10px !important;
}
.fsError {
  background-color: #212121 !important;
  color: #fafafa !important;
  border: red solid 1px !important;
}


/* submit button */
#fsSubmitButton3910490, #fsSubmitButton3910490, #fsNextButton3910490, #fsPreviousButton3910490 {
  background-color: #fafafa !important;
  color: #212121 !important;
  border-radius: 5px !important;
  /* width: 250px !important;
  height: 50px !important; */
  font-size: 20px !important;
  transition: all 1s;
  font-family: myriad-pro, myriad, sans-serif !important;
  text-transform: uppercase !important;
  padding: 15px 30px;
}

/* #fsSubmitButton3910490:hover {
  transform: scale(1.2);
} */

/* first name */
#field93569057 {
  display: none;
}

/* file upload */
#fsCell93615324 {
  /* display: none; */
}

#confirmationPage3910490 {
  color: white;
}
#field93569054-first::placeholder, 
#field93569054-last::placeholder,
#field93569057::placeholder,
#field93569061::placeholder {
  /* content: 'first name'; */
  color: #fafafa;
}

#field93615324DeleteButton {
  margin: 10px !important;
}

/* todo: troubleshoot error message */
/* required field error styles */
.fsValidationError .fsSignature, 
.fsValidationError input[type="email"], 
.fsValidationError input[type="number"], 
.fsValidationError input[type="tel"], 
.fsValidationError input[type="text"], 
.fsValidationError select, 
.fsValidationError textarea {
  border: 1px solid #d0d4d8 !important;
  color: #fafafa !important;
  background-color: #212121 !important;
}